anyio 
argon2-cffi 
asttokens 
attrs 
Babel 
backcall 
beautifulsoup4 
bleach 
blessings==1.7
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer==2.1.1
click==8.1.3
comm 
cryptography 
cycler==0.11.0
debugpy 
decorator 
defusedxml 
easydict==1.13
entrypoints 
executing 
fairscale==0.4.4
fastjsonschema 
filelock==3.8.0
fonttools==4.37.1
ftfy 
gpustat==0.6.0
huggingface-hub==0.9.1
idna 
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2 
joblib 
json5 
jsonschema 
jupyter 
jupyter-console 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kiwisolver==1.4.4
lxml 
MarkupSafe 
matplotlib==3.5.3
matplotlib-inline 
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk==3.9.1
notebook 
notebook_shim 
numpy==1.24.4
nvidia-ml-py3==7.352.0
opencv-python==4.6.0.66
packaging 
pandas==2.0.3
pandocfilters 
parso 
pexpect 
pickleshare 
Pillow==9.2.0s
pkgutil_resolve_name 
platformdirs 
ply==3.11
prettytable==3.11.0
prometheus-client 
prompt-toolkit 
psutil==5.9.1
ptyprocess 
pure-eval 
pycocoevalcap==1.2
pycocotools==2.0.4
pycparser 
Pygments 
pyOpenSSL 
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
python-dateutil 
pytz 
PyYAML==6.0
pyzmq 
qtconsole 
QtPy 
regex==2022.8.17
requests 
ruamel-yaml-conda 
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.8
sacremoses==0.0.53
scikit-learn==0.24.0
scipy 
seaborn==0.13.2
Send2Trash 
sip 
six 
sniffio 
soupsieve 
stack-data 
terminado 
threadpoolctl 
timm==0.4.12
tinycss2 
tokenizers==0.10.3
toml 
tomli 
toolz 
torch==1.10.1
torchvision==0.11.2
tornado 
tqdm==4.64.0
traitlets 
transformers==4.15.0
typing_extensions 
tzdata==2025.2
urllib3 
wcwidth 
webencodings==0.5.1
websocket-client 
widgetsnbextension 
zipp 
